parameters:
    level: 8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        -   src
    ignoreErrors:
        -
            message: '#Unreachable statement - code above always terminates.#'
            paths:
                - src/DbalCriteriaAdapter.php